.body{
    background-color: var(--background-color);
    width: 95%;
    max-width: 650px;
    height: 90%;
    border-radius: 5px;
    padding: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.details{
    flex:1;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: solid 1px var(--border-color);
    padding:15px
}

.detailsText{

}

.chatName{
    font-weight: var(--bold-weight);
    margin-bottom: 5px;
}

.membersCount{
    color: var(--faint);
    font-size: var(--small);
    font-weight: var(--semi-bold-weight);
}

.members{
    margin-top: 20px;
}

.membersMemCount{
    margin-bottom: 10px;
}

.adminMemText{
    color: var(--faint);
    margin-bottom: 10px;
}

.membersWrap{
    overflow-y: scroll;
    height: 60vh;
}

.member{
    background-color: var(--glass);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.memberDetails{
    display: flex;
    align-items: center;
    gap: 10px;
}

.messagesSent{
    color: var(--faint);
}

.you{
    background-color: var(--glass);
    padding: 5px 10px;
    margin-left: 10px;
    color: var(--faint);
    border-radius: 5px;
    border: 1px solid var(--background-color);
}

.memberUtils{
    margin-top: 20px;
}