.body{
    width:27%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.logoWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px var(--border-color);
}

.chatsDisplay{
    flex: 1;
    margin-top: 20px;
    padding: 10px;
    overflow-y: scroll;
}

.text{
    color: var(--faint);
}

.chatsWrapper{}

.chat, .chatSelected{
    background-color: var(--glass);
    margin: 13px 0;
    padding: 20px 10px;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
}

.chatSelected{ 
    border: 3px solid var(--border-color);
    box-shadow: var(--box-shadow-4);
}

.chat:hover{border: 2px solid var(--border-color)}

.textWrap{
    flex: 1;
    margin-left: 10px;
}

.chatName{
    font-weight: var(--bold-weight);
}

.text{
    color: var(--faint);
    font-size: var(--small);
    font-weight: var(--light-weight);
    margin-top: 5px;
}

/* mob */
.mobChat{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.mobChatContent{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 80%;
    height: 100%;
}

.mobChatEmpty{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.692);
}