.body{
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    max-width: 800px;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.logo{
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto 20px auto;
}

.title{
    font-size: var(--xx-large);
}


/* FORM */
.formContainer{
    margin: 2rem auto;
    padding: 22px;
    width: min(95%, 400px)
}

.textShow{
    color: rgb(245, 41, 41);
    font-weight: var(--semi-bold-weight);
    text-align: center;
    padding: 10px 5px;
    background-color: var(--glass);
    border-radius: 5px;
}

.textHide{
    visibility: hidden;
}

.form{
    width: 100%;
}

.formInput{
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.input{
    width: 100%;
    padding: .6rem .7rem;
    border: none;
    outline: none;
    border-radius: 3px;
}

.label{
    display: block;
    color: var(--white-2);
    margin-bottom: 5px;
    text-align: left;
}
