.body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Styles For Header */

.header{
    padding: 15px;
    background-color: var(--glass-2);
    border-bottom: solid 1px var(--border-color);
    box-shadow: var(--box-shadow-6);
}

.head{
    display: flex;
}

.details{
    flex: 1;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.detail{

}

.name{
    font-size: var(--large);
    font-weight: var(--bold-weight);
}


.membersWrap{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.members{
    color: var(--faint);
    font-weight: var(--semi-bold-weight);
    font-size: var(--small);
    margin-left: 10px;
}

.typingShow{
    color: var(--faint);
    font-size: var(--tiny);
    margin-top: 5px;
}

.typingHide{
    visibility: hidden;
}


/* Styles For Input */
.inputContainer{
    position: relative;
    background-color: var(--glass);
    width: min(100%, 750px);
    border-radius: 5px;
    margin: 5px auto;
    box-shadow: var(--box-shadow-6)
}

.input{
    display: flex;
}


.inputWrap{
    flex: 1;
    display: flex;
    border-radius: 2px;
}

.textInput{
    flex: 1;
    padding: 15px;
    background: transparent;
    color: #fff;
    font-size: var(--large);
    border: none;
    outline: none;
}

.inputUtils{
    width: 20%;
    margin: 10px;
    padding: 8px;
    background-color: var(--glass);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.inputIcon{
    cursor: pointer;
}

.emojiPicker{
    position: absolute;
    width: fit-content;
    bottom:40px;
    right: 0;
    width: min(100%, 400px);
}


@media screen and (max-width: 600px) {
    .inputUtils{width: 25%}
}


@media screen and (max-width: 450px) {
    .textInput{padding: 12px}
    .emojiPicker{width: 300px;}
}

/* target to smallest device  (galaxy fold) */
@media screen and (max-width: 390px) {
    .input{flex-direction: column; gap:10px}
    .inputUtils{width: 50%; align-self: center;}
    .emojiPicker{bottom: 90px;}
}