.body{
    height: 100vh;
    flex:1;
    display: flex;
    flex-direction: column;
}


/* Styles For Header */

.header{
    background-color: var(--glass);
    border-bottom: solid 1px var(--border-color);
    padding: 15px;
}

.head{
    display: flex;
}

.details{
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatDetails{
    width: 100%;
    display: flex;
    align-items: center;
}

.name{
    margin: 0 10px;
}

.utils{
    margin-top: 10px;
}

.membersWrap{
    display: flex;
    align-items: center;
}

.members{
    color: var(--faint);
    font-weight: var(--semi-bold-weight);
    font-size: var(--small);
    margin-left: 10px;
}

.typingShow{
    color: var(--faint);
    font-size: var(--tiny);
    margin-top: 5px;
}

.typingHide{
    visibility: hidden;
}


/* Styles For Input */
.inputContainer{
    position: relative;
    background-color: var(--glass);
    width: min(100%, 750px);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px var(--border-color);
    box-shadow: var(--box-shadow-2)
}

.input{
    display: flex;
}


.inputWrap{
    flex: 1;
    display: flex;
    border-radius: 2px;
}

.textInput{
    flex: 1;
    padding: 8px 15px;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}

.inputUtils{
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
}

.inputIcon{
    cursor: pointer;
}

.emojiPicker{
    position: absolute;
    width: fit-content;
    bottom:40px;
    right: 0;
    width: 400px;
}


@media screen and (max-width: 450px) {
    .textInput{padding: 12px 15px;}
    .inputUtils{width: 23%;}
    .emojiPicker{width: 300px;}
}

/* target to smallest device  (galaxy fold) */
@media screen and (max-width: 290px) {
    .textInput{padding: 8px 10px;}
    .inputUtils{width: 30%;}
}