.messages{
    flex:1;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--glass);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: var(--box-shadow-6);
}

.defMsg, .pMsg, .uMsg{
    width: fit-content;
    max-width: 50%;
    margin: 10px;
}

.pMsg, .uMsg{
    padding: 10px 15px;
    background-color: var(--glass-2);
    border-radius: 5px;
}

.defMsg{
    align-self: center;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 10px 20px;
}

.pMsg{
}

.uMsg{
    align-self: flex-end;
}

.username{
    font-weight: var(--bold-weight);
    font-size: var(--small);
}

.defMsgText{
    color: var(--faint);
}

.msgText{
    margin: 5px 0;
}

.msgTime{
    color: var(--faint);
    font-size: var(--tiny);
}

@media screen and (max-width: 768px) {
    .defMsg, .pMsg, .uMsg{max-width: 85%;}
}