.container{
    width: min(95%, 400px);
    background-color: var(--black);
    border-radius: 5px;
}

.content{
    padding: 2rem;
    text-align: center;
}

.title{
    font-size: var(--large);
    font-weight: var(--bold-weight);
}

.text{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--faint)
}