.playground{
    min-height:100vh;
    max-width: 1600px;
    display:flex;
    background-image: linear-gradient(135deg, rgba(15, 15, 15, 0.596), rgba(15, 15, 15, 0.507)), url(../assets/bg2.svg);
}

