.container{
    width:50%;
    max-width: 600px;
    padding: 20px;
    background-color: var(--black);
    border-radius: 5px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
}

.title{
    color: var(--faint);
}

.inputs{
    margin-top: 20px;
    margin-bottom: 10px;
}

.textarea{
    display: block;
    width: 100%;
    font-family: 'Noto Sans Display', sans-serif;
    resize: none;
    height: 180px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--background-color);
    padding: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.emojiPicker{
    width: 100%;
    height: 250px;
}

@media screen and (max-width: 768px) {
    .container{width: 95%;}
}